---
import { languages, defaultLang } from "../../utils/i18n";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang: lang === defaultLang ? undefined : lang },
  }));
}

import Layout from "../../layouts/Layout.astro";
import PrivPol from "../../components/PrivPol.astro";
---

<Layout>
  <main class="flex flex-col items-center bg-[#0d1117] text-white">
    <PrivPol />
  </main>
</Layout>
