---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-auto sm:w-[895px] xl:w-[1280px] flex flex-col items-center bg-[#0d1117] text-white mx-auto">
    <Hero />
  </div>
</Layout>
