---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col items-center bg-[#0d1117] text-white">
    <Hero />
  </main>
</Layout>
