---
import Layout from '../layouts/Layout.astro';
import PrivPol from '../components/PrivPol.astro';
---
<Layout>
	<main class="flex flex-col items-center bg-[#0d1117] text-white">
		<PrivPol />
	</main>
</Layout>