---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import { ClientRouter, slide, fade } from "astro:transitions";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alberto | Backend Engineer</title>
    <ClientRouter />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    class="bg-[#0d1117] text-white font-sans min-h-screen flex flex-col"
    transition:animate={fade({ duration: "0.4s" })}>
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
